body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2b2b2b;
}

header {
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10vh;
}

header a {
    border: 0;
    background: transparent;
    text-align: center;
    border: 2px solid #33790b;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

header a:hover {
    background: #33790b;
}

main {
    color: white;
    width: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: left;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: .5s;
}

h1, h3 {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 20px auto;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.box {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.dias_semana {
    display: flex;
    margin: 10px;

    flex-wrap: wrap;
}


.button_salvar {
    border: 0;
    background: transparent;
    margin: 20px auto;
    border: 2px solid #33790b;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 15px;
}

.button_salvar:hover {
    background: #33790b;
}

a {
    text-decoration: none;
    color: white;
}

label {
    cursor: pointer;
    user-select: none;
    padding: 0 5px 0 5px;
}

input {
    width: 20px;
    height: 20px;
}

p {
    text-align: center;
    color: #a51d0b;
}