{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/aluno_faltas.css' %}">
	<title>Faltas</title>
	
</head>
<body>
    <div class="box">
            <form action="{% url 'faltas' %}"  method="post" enctype="multipart/form-data">
                {% for falta in faltas %}
                    <h2>{{ falta.data }}</h2>   
                    {% csrf_token %}
                    <input hidden value="{{ falta.id }}" name="id_falta" type="text">
                    {% if falta.justificativa != 'None' %}
                        <textarea placeholder="Justificativa" defa name="justificativa">{{ falta.justificativa }}</textarea>
                    {% else %}
                        <textarea placeholder="Justificativa" name="justificativa"></textarea>
                    {% endif %}
                    <label>Anexe um arquivo abaixo</label>
                    <input type="file" name="arquivo">
                    <hr>
                {% endfor %}
                <button type="submit">Salvar</button>
            </form>
    </div>
    <script src="{% static 'js/aluno_faltas.js' %}"></script>
</body>
</html>