{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/comentarios_funcionario.css' %}">
    <title>Comentários</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">Voltar</a>
    </header>
    <h1>Comentários do dia!</h1>
    <main class="cards">
        <section class="card">
            {% for comentario in comentarios %}
                <span>{{ comentario.comentario }}</span>
            {% endfor %}
        </section>
    </main>
</body>
</html>
{% endblock %}