{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/comentarios.css' %}">
    <title>Comentários</title>
</head>
<body>
    <h1>comentários do dia!</h1>
    <main class="cards">
        
        <section class="card">
            <h3>About us.</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </section>
        <section class="card">
            <h3>About us.</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </section>
        <section class="card">
            <h3>About us.</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elitasdasdasdasdas
                dasdasdasasdasdasdasdas.</span>
        </section>
        <section class="card">
            <h3>About us.</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </section>
        <section class="card">
            <h3>About us.</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </section>
        <section class="card">
            <h3>About us.</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </section>
    </main>
</body>
</html>