<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentário</title>
</head>
<body>
    <h1>Adicione um Comentário</h1>

    <form action="{% url 'comentarios' %}" method="POST">
        {% csrf_token %}
        <label>Adicione um comentário</label>
        <textarea name="comentario"></textarea>
        <button type="submit">Comentar</button>
    </form>
</body>
</html>