{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/faltas.css' %}">
	<title>Faltas</title>
	
</head>
<body>
    <div class="box">
        {% for falta in faltas %}
            <h2>{{ falta.data }}</h2>
            <form action="{% url 'faltas' %}"  method="post">
                {% csrf_token %}
                <input hidden value="{{ falta.id }}" name="id" type="text">
                {% if falta.justificativa != 'None' %}
                    <textarea placeholder="Justificativa" defa name="justificativa">{{ falta.justificativa }}</textarea>
                {% else %}
                    <textarea placeholder="Justificativa" name="justificativa"></textarea>
                {% endif %}
                <button type="submit">Salvar</button>
            </form>
            <hr>
        {% endfor %}
    </div>
    <script src="{% static 'js/faltas.js' %}"></script>
</body>
</html>