{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/funcionario_faltas.css' %}">
	<title>Faltas</title>
</head>
<body>
	<header>
		<a href="/home/">Voltar</a>
		<a href="/logout/">Sair</a>
	</header>

	<main>
		<div class="container">
			<table>
				<tr>
					<th>Aluno</th>
					<th>Total de faltas</th>
				</tr>

				<tr>
					<td>Dêvid de Souza Teófilo</td>
					<td>3</td>
				</tr>

				<tr>
					<td>Pedro Ferreira Filho</td>
					<td>50</td>
				</tr>
			</table>
		</div>
	</main>
</body>
</html>