{% extends 'base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/funcionario_faltas.css' %}">
	<title>Faltas</title>
</head>
	<header>
		<a href="/home/">Voltar</a>
	</header>
	<main>
		<div class="container">
			<p>Clique sobre o nome para mais informações</p>
			<table>
				<tr>
					<th>Aluno</th>
					<th>Total de faltas</th>
				</tr>
				{% for aluno, tot in alunos.items %}
					<tr>
						<td><a href="/faltas/{{ aluno.id }}" target="_blank">{{ aluno }}</a></td>
						<td>{{ tot }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</main>
{% endblock %}