{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home_aluno.css' %}">
	<title>Aluno</title>
</head>
<body>
	<main>
		<h1>{{ nome }}</h1>
		<h3>{{ matricula }}</h3>

		<form method="POST" action="{% url 'home' %}">
			{% csrf_token %}
			<span class="dias_semana">
				{% for quentinha, value in quentinhas.items %}
					<div class="box">
						{% if value == "0" %}
							<input class="checkmark" type="checkbox" name="dias_da_semana" value="{{ quentinha }}" id="{{ quentinha }}">
							<label for="{{ quentinha }}"></label>
						{% else %}
							<input class="checkmark" type="checkbox" name="dias_da_semana" value="{{ quentinha }}" checked id="{{ quentinha }}">
							<label for="{{ quentinha }}"></label>
						{% endif %}
						<label for="{{ quentinha }}">{{ quentinha }}</label>
					</div>
				{% endfor %}
			</span>
			<button type="submit">Salvar</button>
		</form>

		<button><a href="/logout/">Sair</a></button>
	</main>

</body>
</html>