{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/home_funcionario.css' %}">
	<title>Funcionário</title>
	
</head>
<body>
	<header>
		<a href="/logout/">Sair</a>
	</header>
	<main>
		<h1>Olá {{ nome }}!</h1>
		<div class="container">
			<form method="POST" action="{% url 'home' %}">
				{% csrf_token %}
				<table>
				<tr class="thead">
				  <th>Matrícula</th>
				  <th>Nome</th>
				  <th>Presença</th>
				</tr>
				
				{% for aluno in alunos_que_marcou %}
					<tr>
						<td>{{ aluno.username }}</td>
						<td>{{ aluno.nome }}</td>
						<td><input class="checkmark" type="checkbox" value="{{ aluno.username }}" name="alunos_presentes"></td>
					</tr>
				{% endfor %}
			  </table>
			  <button type="submit">Salvar</button>
			</form>
		</div>
	</main>
</body>
</html>