{% extends 'base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/home_funcionario.css' %}">
	<title>Funcionário</title>
	
</head>
<body>
	<header>
		<a href="{% url 'faltas' %}">Gerenciar faltas</a>
		<a href="{% url 'quentinhas_extras' %}" target="_blank">Quentinhas extras</a>
		<a href="/logout/">Sair</a>
	</header>
	<main>
		<h1>FUNCIONÁRIO {{ nome }}</h1>
		<div class="container">
			<form method="POST" action="{% url 'home' %}">
				{% csrf_token %}
				<table>
				<tr class="thead">
				  <th>Matrícula</th>
				  <th>Nome</th>
				  <th>Presença</th>
				</tr>
				
				{% for aluno in alunos_que_marcou %}
					<tr>
						<td>{{ aluno.username }}</td>
						<td>{{ aluno.nome }}</td>
						<td><input class="checkmark" type="checkbox" value="{{ aluno.username }}" name="alunos_presentes"></td>
					</tr>
				{% endfor %}
			  </table>
			  <button class='button_salvar' type="submit">Salvar</button>
			</form>
		</div>
	</main>
{% endblock %}