{% extends 'base.html' %}
{% load static %}
{% block content %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

	<!--css-->
	<!--js-->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home_aluno.css' %}">
	<title>Aluno</title>
	
</head>
<body>
	<header>
		<a href="{% url 'faltas' %}">Minhas faltas</a>

		<a href="/logout/">Sair</a>
	</header>
	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
		<div class="carousel-indicators">
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img src="{% static 'images/cardapio1.png' %}" height="500" width="500" class="d-block w-100" alt="...">
			<div class="carousel-caption d-none d-md-block">
			  <!-- <h5>Almoço</h5> -->
			  <!-- <p>Some representative placeholder content for the first slide.</p> -->
			</div>
		  </div>
		  <div class="carousel-item">
			<img src="{% static 'images/cardapio2.png' %}" height="500" width="500" class="d-block w-100" alt="...">
			<div class="carousel-caption d-none d-md-block">
			  <!-- <h5>Janta</h5> -->
			  <!-- <p>Some representative placeholder content for the second slide.</p> -->
			</div>
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	</div>
	<main>
		<h1>{{ nome }}</h1>
		<h3>{{ matricula }}</h3>
		<form method="POST" action="{% url 'home' %}">
			{% csrf_token %}
			<span class="dias_semana">
				{% for quentinha, value in quentinhas.items %}
					<div class="box">
						{% if value == "0" %}
							<input class="checkmark" type="checkbox" name="dias_da_semana" value="{{ quentinha }}" id="{{ quentinha }}">
						{% else %}
							<input class="checkmark" type="checkbox" name="dias_da_semana" value="{{ quentinha }}" checked id="{{ quentinha }}">
						{% endif %}
						<label for="{{ quentinha }}">{{ quentinha }}</label>
					</div>
				{% endfor %}
			</span>
			<button class='button_salvar' type="submit">Salvar</button>
		</form>
	</main>
	

{% endblock %}