{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">

        <form action="{% url 'login_funcionario' %}" method="POST" class="form box" autocomplete="off">
            {% csrf_token %}
            <div class="image">
                <img src="https://estudante.ifpb.edu.br/static/ps/imagens/ifpb-vertical.png" alt="">
            </div>
            <h1>Login Funcionário</h1>
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Logar</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}