{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        
        {% bootstrap_messages %}

        <form action="{% url 'login_funcionario' %}" method="POST" class="form box" autocomplete="off">
            {% csrf_token %}
            <div class="image">
                <img src="https://estudante.ifpb.edu.br/static/ps/imagens/ifpb-vertical.png" alt="">
            </div>
            <h1>Login Funcionário</h1>
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Logar</button>
            {% endbuttons %}
        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>