{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/quentinhas_extras.css' %}">
    <title>Quentinhas extras</title>
</head>
<body>
    <div class="box">
        <h1>Total de extras: <strong>{{ quentinhas_extras }}</strong></h1>

        <form action=""  method="post">
            {% csrf_token %}
            <label for="">Nome</label>
            <input type="text" name="nome" placeholder="Nome">
            <label for="">Matrícula</label>
            <input type="text" name="matricula" placeholder="Matricula">
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>