{% load bootstrap4 %}
{% extends 'base.html' %}
{% load static %}
{% block content %}
	<title>Registro de Aluno</title>
	{% bootstrap_css %}
</head>
<body>
	
	<div class="container">
		<h1>Registrar Aluno</h1>
        {% bootstrap_messages %}

        <form action="{% url 'register_aluno' %}" method="POST" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Registrar</button>
            {% endbuttons %}
        </form>
	</div>
{% endblock %}