{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro de Aluno</title>
	{% bootstrap_css %}
</head>
<body>
	
	<div class="container">
		<h1>Registrar Funcionário</h1>
        {% bootstrap_messages %}

        <form action="{% url 'register_funcionario' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Logar</button>
            {% endbuttons %}
        </form>
	</div>


	{% bootstrap_javascript jquery='full' %}
</body>
</html>